<?php  if (!defined('BASEPATH')) exit('No direct script access allowed'); ?>
<a class="awesome" href="{site_url}commercial">« Главная модуля</a>
<a class="awesome" href="{site_url}commercial/pay_periods/add">Добавить период</a>
<br /><br />
<table width="100%" class="zebra">
	<thead>
		<th>Период</th>
		<th>Скидка</th>
		<th>Выписка счета за</th>
		<th></th>
	</thead>
{pay_periods_list}
	<tr>
		<td>{human_period}</td>
		<td>{discount} %</td>
		<td>{checkout} ч.</td>
		<td>
			<a class="small awesome" href="{site_url}commercial/pay_periods/edit/{id}">{lang_edit}</a>
			<a class="small red awesome" href="{site_url}commercial/pay_periods/delete/{id}">X</a>
		</td>

	</tr>
{/pay_periods_list}
</table>
