<a class="awesome" href="{site_url}commercial/client/services">« Вернуться к списку услуг</a>

<p class="hr">Продление услуги</p>
<form action="{site_url}commercial/client/prolong_service/{service_id}" method="post" accept-charset="utf-8">
	<input type="hidden" name="<?php echo $this->security->get_csrf_token_name(); ?>" value="<?php echo $this->security->get_csrf_hash(); ?>" />
	
	<table width="100%" class="zebra">
		<tr>
			<td width="20%">Период:</td>
			<td>{dropdown_pay_period}</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><input class="button" type="submit" name="submit" value="Продолжить" /></td>
		</tr>
	</table>
	
</form>
