<a class="awesome" href="{site_url}commercial/client/services">« Вернуться к списку услуг</a>

<?php 
	if($this->billing->services_list[0]['server_id']
		&& ($this->billing->services_list[0]['status'] == 'active' OR $this->billing->services_list[0]['status'] == 'prolong')
		&& (!$this->billing->tariffs_list[0]['manual_install'])
	): 
?>
<a class="awesome" href="{site_url}commercial/client/reinstall_server/{service_id}">Переустановить сервер</a>
<?php endif; ?>

<br /><br />
<table width="100%" class="zebra">
	<tr>
		<td>Название:</td>
		<td>{name}</td>
	</tr>
	<tr>
		<td>Цена:</strong></td>
		<td>{cost} руб.</strong></td>
	</tr>
	<tr>
		<td>Статус:</strong></td>
		<td>{status}</strong></td>
	</tr>
	<tr>
		<td>Игровой сервер:</strong></td>
		<td>{game_server}</strong></td>
	</tr>
	<tr>
		<td>Создан:</strong></td>
		<td>{date_create}</strong></td>
	</tr>
	<tr>
		<td>Истекает:</strong></td>
		<td>{date_overdue}</strong></td>
	</tr>
</table>
<?php if($this->billing->services_list[0]['invoice_id']): ?>
<a class="green awesome" href="{site_url}commercial/client/pay_invoice/{invoice_id}">Оплатить услугу</a>
<?php elseif ($this->billing->services_list[0]['status'] == 'active' OR $this->billing->services_list[0]['status'] == 'prolong' OR $this->billing->services_list[0]['status'] == 'freeze'): ?>
<a class="green awesome" href="{site_url}commercial/client/prolong_service/{service_id}">Продлить услугу</a>
<?php endif; ?>
