<script type="text/javascript" language="javascript" src="{site_url}themes/system/ckeditor/ckeditor.js"></script>
<a class="awesome" href="{base_url}commercial/adm_materials">« Вернуться</a>

<p class="hr">Новая категория</p>
<form action="{base_url}commercial/adm_materials/add_category" method="post" accept-charset="utf-8">
	<input type="hidden" name="<?php echo $this->security->get_csrf_token_name(); ?>" value="<?php echo $this->security->get_csrf_hash(); ?>" />

	<table cellpadding="5" class="zebra" width="100%">
	<tr>
		<td width="10%">Название:</td>
		<td><input style="width: 80%;" type="text" name="title" /></td>
	</tr>

	<tr>
		<td>Описание:</td>
		<td><input style="width: 80%;" type="text" name="description" /></td>
	</tr>
	
	<tr>
		<td>Теги:</td>
		<td><input style="width: 80%;" type="text" name="tags" /></td>
	</tr>

	<tr>
		<td>Информация:</td>
		<td><textarea id="info" name="information"></textarea></td>
	</tr>

	<script type="text/javascript">
		CKEDITOR.replace('info');
	</script>

	</table>
	
	<p align="center"><input class="button" type="submit" name="submit" value="Добавить" /></p>

</form>
