<script type="text/javascript" language="javascript" src="{site_url}themes/system/ckeditor/ckeditor.js"></script>
<a class="awesome" href="{base_url}commercial/adm_materials">« Вернуться</a>

<p class="hr">Новая запись</p>
<form action="{base_url}commercial/adm_materials/add" method="post" accept-charset="utf-8">
	<input type="hidden" name="<?php echo $this->security->get_csrf_token_name(); ?>" value="<?php echo $this->security->get_csrf_hash(); ?>" />

	<table cellpadding="5" class="zebra" width="100%">
	<tr>
		<td width="10%">Название:</td>
		<td><input style="width: 80%;" type="text" name="title" /></td>
	</tr>

	<tr>
		<td>Описание:</td>
		<td><input style="width: 80%;" type="text" name="description" /></td>
	</tr>

	<tr>
		<td>URI страницы:</td>
		<td><input style="width: 80%;" type="text" name="page" /></td>
	</tr>

	<tr>
		<td>Категория:</td>
		<td>{categories_dropdown}&nbsp;&nbsp;&nbsp;<input type="checkbox" name="static" value="accept" />Статическая страница</td>
	</tr>
	
<!--
	<script>
		$("category").prop('disabled', true);
	</script>
-->

	<tr>
		<td>Превью:</td>
		<td><textarea id="preview_area" name="preview"></textarea></td>
	</tr>

	<tr>
		<td>Текст:</td>
		<td><textarea id="text_area" name="text"></textarea></td>
	</tr>
	
	<script type="text/javascript">
		CKEDITOR.replace( 'preview_area');
		CKEDITOR.replace( 'text_area');
	</script>

	</table>
	
	<p align="center"><input class="button" type="submit" name="submit" value="Добавить" /></p>

</form>
