<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{title}</title>

    <link rel="stylesheet" type="text/css" href="{site_url}themes/system/commercial/css/materials.css" />
    <script type="text/javascript" language="javascript" src="{site_url}themes/system/commercial/js/addon.js"></script>
    <script type="text/javascript" language="javascript" src="{site_url}themes/system/js/jquery-1.7.1.min.js"></script>
</head>
<body{body_js}>

<div class='header'>
	<div class='himage'>
            <a href="http://hldm.org"><img src="{site_url}themes/system/commercial/images/logo.png" alt="Half-Life DeathMatch" /></a>       
        </div>
</div>   

<div class='ml'><div class='mr'><div class='mc' id="menu_contener">
           <ul align="center">
           <li><a href="{site_url}commercial/">Главная</a></li>
           <li><a href="http://wiki.hldm.org">Wiki</a></li>
           <li><a href="http://forum.hldm.org">Форум</a></li>
           </ul> 
</div></div></div>

<table cellpadding="0" cellspacing="10" border="0" style="width:100%;z-index:1;">
	<tr>
		<td style="width:20%"  valign="top">
			
			<div class='block'>
				<p align="center" style="font-size:14px;"><a href="/auth">Панель управления</a></p>
			</div>
			
			<div class='block'>
				<div class="urbangreymenu">
					<ul>
						<li><a href="{site_url}">Главная</a></li>
						<li><a href="{site_url}materials/view/games">Услуги</a></li>
						<li><a href="{site_url}materials/view/contacts">Контакты</a></li>
						<li><a href="http://wiki.hldm.org">Wiki</a></li>
						<li><a href="http://forum.hldm.org">Форум</a></li>
					</ul>
				</div>
			</div>
			
		</td>

		<td valign="top">
			<div class='block'>
				{content}
			</div>
		</td>
		</td>
	</tr>
</table>

<div class="footer">
	<table width="100%">
		<tr>
			<td width="100%"></td>
			<p align="center"><a href="{site_url}materials/view/oferta">Договор оферта</a>&nbsp;&nbsp;<a href="#">Контакты</a></p>
			</td>
		</tr>
	</table>
</div>

</body>
</html>
