<?php  if (!defined('BASEPATH')) exit('No direct script access allowed'); ?>
<table width="100%" cellspacing="5" cellpadding="10">
	<tr align="center">
		<td width="20%"><a href="{site_url}commercial/adm_materials"><img src="{base_url}themes/system/commercial/images/materials.png" /><br />Управление материалом</a></td>
		<td width="20%"><a href="{site_url}commercial/adm_prices"><img src="{base_url}themes/system/commercial/images/calculator.png" /><br />Цены и тарифы</a></td>
		<td width="20%"><a href="{site_url}commercial/pay_periods"><img src="{base_url}themes/system/commercial/images/time.png" /><br />Периоды оплаты и скидки</a></td>
		<td width="20%"><a href="{site_url}commercial/tickets"><img src="{base_url}themes/system/commercial/images/question.png" /><br />Тикеты</a></td>
		<td width="20%"><a href="{site_url}commercial/adm_ftp_accounts"><img src="{base_url}themes/system/commercial/images/remote_folder.png" /><br />FTP аккаунты</a></td>
	</tr>
	<tr align="center">
		<td width="20%"><a href="{site_url}commercial/adm_clients"><img src="{base_url}themes/system/commercial/images/person.png" /><br />Клиенты</a></td>
		<td width="20%"><a href="{site_url}commercial/transactions"><img src="{base_url}themes/system/commercial/images/transaction.png" /><br />Транзакции</a></td>
		<td width="20%"><a href="{site_url}commercial/adm_transfer_systems"><img src="{base_url}themes/system/commercial/images/money.png" /><br />Платежные системы</a></td>
		<td width="20%"><a href="{site_url}commercial/settings"><img src="{base_url}themes/system/commercial/images/settings.png" /><br />Настройки модуля</a></td>
		<td width="20%">&nbsp;</td>
	</tr>
</table>

<?php if (!empty($this->_ci_cached_vars['wa_services_list'])): ?>
<p class="hr">Услуги клиентов, ожидающие активации</p>
<table width="100%" class="zebra">
	<tbody>
		<th width="25%">Название</th>
		<th>Дата создания</th>
		<th>Дата окончания</th>
		<th>Сумма</th>
		<th>&nbsp;</th>
	</tbody>
{wa_services_list}
	<tr>
		<td>{service_name}</td>
		<td>{date_create}</td>
		<td>{date_overdue}</td>
		<td>{cost} руб.</td>
		<td align="center">
			<a class="small awesome" href="{site_url}commercial/adm_clients/edit_service/{service_id}/{user_id}">{lang_edit}</a>&nbsp;
		</td>
	</tr>
{/wa_services_list}
</table>
<?php endif; ?>
<?php if (!empty($this->_ci_cached_vars['pr_services_list'])): ?>
<p class="hr">Услуги клиентов, требующие продления</p>
<table width="100%" class="zebra">
	<tbody>
		<th width="25%">Название</th>
		<th>Дата создания</th>
		<th>Дата окончания</th>
		<th>Сумма</th>
		<th>&nbsp;</th>
	</tbody>
{pr_services_list}
	<tr>
		<td>{service_name}</td>
		<td>{date_create}</td>
		<td>{date_overdue}</td>
		<td>{cost} руб.</td>
		<td align="center">
			<a class="small awesome" href="{site_url}commercial/adm_clients/edit_service/{service_id}/{user_id}">{lang_edit}</a>&nbsp;
		</td>
	</tr>
{/pr_services_list}
</table>
<?php endif; ?>
