<?php  if (!defined('BASEPATH')) exit('No direct script access allowed'); ?>
<script type="text/javascript" language="javascript" src="{site_url}themes/system/ckeditor/ckeditor.js"></script>
<a class="awesome" href="{site_url}commercial/tickets">« Вернуться</a><br /><br />

	{tickets_list}
	<table width="100%" class="zebra">
		<tr>
			<td rowspan="3" width="15%"><?php if($this->users->auth_data['is_admin']) : ?>
											<a href="{site_url}commercial/adm_clients/view/{ticket_user_id}"><strong>{ticket_user_name}</strong></a>
										<?php else: ?>
											<strong>{ticket_user_name}</strong>
										<?php endif; ?>
										<br />{ticket_date}</td>
		</tr>
		
		<tr>
			<td><strong>{ticket_title}</strong></p></td>
		</tr>
		
		<tr>
			<td><p>&nbsp;&nbsp;{ticket_message}</p></td>
		</tr>
	</table>
	<hr />
	{/tickets_list}

<?php if (!$this->_ci_cached_vars['ticket_closed']): ?>
<form action="{site_url}commercial/tickets/add/{parent_ticket_id}" method="post" accept-charset="utf-8">
	<input type="hidden" name="<?php echo $this->security->get_csrf_token_name(); ?>" value="<?php echo $this->security->get_csrf_hash(); ?>" />
	
	<p class="hr">Ответ</p>
	<table width="100%" class="zebra">
			<tr>
				<td>Заголовок</td>
				<td><input style="width: 75%" type="text" name="title" value="{parent_ticket_title}"/></td>
			</tr>
			
			<tr>
				<td>Сообщение</td>
				<td><textarea style="height: 50px" name="message"></textarea></td>
			</tr>
			
			<tr>
				<td colspan="2"><label><input type="checkbox" name="close">Закрыть как решенный</label></td>
			</tr>

	</table>
	<p align="center"><input class="button" type="submit" name="submit" value="Ответить" /></p>
	<p align="center"><input class="button" type="submit" name="close" value="Закрыть" /></p>
</form>
<?php endif?>
